
.container{
    display: grid;
    grid-template-columns: 600px 600px ;
    grid-template-rows: 500px 500px 500px ;
    align-items: center;
    border-radius: 20px;
    
}



.G11Fishing{
    grid-area: 2 / 3 / 3 / 7;
    rotate: -90deg;
}

.G11CAS {
    rotate: -90deg;
}

.container img{
    width: 70%;
    border-radius: 7px;
    border-color: ;
    border-style: solid;
    border-width: 7px;
}



.tet2{
    position: relative;
    border: black;
    border-radius: 7px;
    width: 30vw;
}

.{ 
    position: relative;
    top: 777px;
    right: -70px;
    width: 300px;
    border: black;
    border-radius: 7px;
}



.galleryimg::after{
    content: "This is my 2nd triptych exploration. ";
    position: absolute;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    height: 50%;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0;
    z-index:10;
    transform: translateY(20px);
    transition: 0.5s;
    color: white;
}

.galleryimg:hover::after{ 
    opacity: 1;
    transition: 0.5s;
    transform: translateY(0px);
}


.galleryimg {
    position: relative;
    height: fit-content;
    transition: 0.5s;
    width: fit-content;
}

.home_bg{
    position: absolute;
    left:0px;
    top:0px;
    right: -20px;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
    min-height: 20%;
    background-size: 100%;
    background-color: black;
    opacity: 80%;
}


a{
    position: absolute;
    top: 677px;
    right: 77px;
    left: 77px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 77;
    line-height: 27px;

}

