
.container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 500px 500px 500px 500px 500px 500px 600px 600px;
    border-radius: 20px;
    grid-auto-flow: row;
    grid-auto-rows: 300px;
    justify-items: center;
    align-items: center;
    grid-gap: 100px;
    width: 1100px;
}

.G11F:hover::after{ 
    opacity: 1;
    transition: 0.5s;
    transform: translateY(0px);
}

.G11F::after{
    content: " ";
    position: absolute;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    height: 74%;
    width: 133%;
    text-align: center;
    bottom: 64px;
    left: -55px;
    z-index:10;
    transform: translateY(22px);
    transition: 0.5s;
    color: white;
    border-radius: 7px;
    rotate: 90deg;
}

.G11F {
    position: relative;
    transition: 0.5s;
    width: fit-content;
    max-height: fit-content;
    rotate: -90deg;
    border-radius: 7px;
    grid-auto-flow: row;
}




.container img{
    
    border-radius: 7px;
    border-color: #d66966;
    border-style: solid;
    border-width: 3px; 
}


.G11Fishing{
    width: 330px;
}

.G11ExploreMedia{
    width: 560px;  
}

.Covid{
    width: 443px;

}

.G11ThirdOil{
    width: 557px;
}


.G112ndOil{
    width: 440px;
}


.G11FirstOil{
    width: 450px;
}

.G11CAS{
    width: 320px;
}

.Summer{
    width: 500px;
}

.G10{
    width: 427px;
}

.G10Culture{
    width: 400px;
}

.G9SketchBookCover{
    width: 430px;
}

.G9DigitalEarth{
    width: 447px;
}

.G9DigitalEarth1{
    width: 430px;
}

.Grade9{
    width: 500px;
}

.G9Digital{
    width: 430px;
}

.G9Digital2{
    width: 500px;
}

.G8MixMedia{
    width: 430px;
}

.G8ClayBall{
    width: 500px;
}

.G8ColorWheel{

    width: 400px;
}

.G11CAS {
    rotate: -90deg;
}





.tet2{
    position: relative;
    border: black;
    border-radius: 7px;
    width: 30vw;
}




.galleryimg::after{
    content: "I luv u";
    position: absolute;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0;
    z-index:10;
    transform: translateY(22px);
    transition: 0.5s;
    color: white;
    border-radius: 7px;
    
}

.galleryimg:hover::after{ 
    opacity: 1;
    transition: 0.5s;
    transform: translateY(0px);
}


.galleryimg {
    position: relative;
    transition: 0.5s;
    width: fit-content;
    display: grid;
    align-items: center;
    border-radius: 7px;
    grid-auto-flow: row;
    border-style: solid;
}

.home_bg{
    position: absolute;
    left:0px;
    top:0px;
    right: -20px;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
    min-height: 20%;
    background-size: 100%;
    background-color: black;
    opacity: 80%;
}


a{
    position: absolute;
    top: 677px;
    right: 77px;
    left: 77px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 77;
    line-height: 27px;

}

/*This is the second painting in my triptych collection, delving into a profound chapter of my life – the tragic year of 2014. During this period, I struggle with a mild mental break down from the loss of a dear family member. My Tet experience during those months remains etched in my memory, though it was a time I'd rather forget. Yet, it is a critical event in my life that has played a role in shaping the person I have become today.
